$base-color: rgba(240,159,141,1.0);
$icon-color: rgba(115,67,47,1.0);
$highlight-color: rgba(210,129,111,1.0);
$notification-color: rgba(255,245,245,1.0);
$button-color: rgba(200,119,101,1.0);

$menu-submenu-text: rgba(255,245,245,1.0);
$menu-submenu-focus-text: rgba(255,255,255,1.0);
$menu-submenu-background: rgba(200,119,101,1.0);

@import "_admin.scss";
